### Assignment 3: Data Structures, Loops, Functions

#### (10 pts) A. Nested Data Structures and Lists

The students received their grades for a midterm exam. The results came as a dictionary, and the grades are in the form of lists. The list contains the score each student received, for each question in the midterm. Unfortunately, the professor was very absent minded and he forgot to sum up the points to compute the overall grade for each student.

* (1pts) How many students are in the data set?
* (1pts) How many questions were in the midterm?
* (4pts) Write code to compute the overall grade of each student. Add the overall grade in a new dictionary called `midterm_grades`, with the students as keys, and the overall grades as (integer) values.
* (1pts) Extract the values from the `midterm_grades` and create a list of the overall grades for the midterm.
* (3pts) Compute the maximum, minimum, average, and median grade among the overall student grades.

In [25]:
grades = {
    "studentA" : [5, 2, 3, 1, 2, 4, 5, 5, 1, 1],
    "studentB" : [1, 2, 5, 5, 2, 0, 1, 5, 5, 2],
    "studentC" : [2, 5, 5, 5, 5, 0, 1, 3, 1, 0],
    "studentD" : [0, 1, 0, 5, 2, 5, 1, 3, 3, 5],
    "studentE" : [5, 4, 5, 5, 1, 5, 1, 4, 4, 5],
    "studentF" : [2, 2, 1, 1, 1, 3, 1, 3, 0, 1],
    "studentG" : [5, 5, 5, 5, 5, 4, 3, 5, 3, 1],
}

In [26]:
print("There are" , len(grades) , "students in the data set.")

There are 7 students in the data set.

In [27]:
print("There were" , len(grades["studentA"]) , "questions in the midterm.")

There were 10 questions in the midterm.

In [28]:
midterm_grades = {}

def find_score (student):
    specific_student = grades[student]
    added = 0
    x = 0
    for score in specific_student:
        added = added + specific_student[x]
        x = x + 1
    return added

# def alternate_find_score(student):
#     return sum(grades[student])


for student in grades:
    key = student
    score = find_score(student)
    
    midterm_grades[key] = score

print(midterm_grades)

{'studentD': 25, 'studentA': 29, 'studentE': 39, 'studentG': 41, 'studentB': 28, 'studentC': 27, 'studentF': 15}

In [29]:
print(list(midterm_grades.values()))

[25, 29, 39, 41, 28, 27, 15]

In [27]:
order = sorted(midterm_grades.values())
maximum_value = order[-1]
print("The maximum value is" , maximum_value)


minimum_value = order[0]
print("The minimum value is" , minimum_value)


average_value = sum (order)/len(order)
print("The average value is" , average_value)   


median_value = order[int(len(order)/2)]
print("The median value is" ,median_value)

The maximum value is 41
The minimum value is 15
The average value is 29.142857142857142
The median value is 28


#### (10 pts) B. Restaurant Meal Price 

* Part 1. (1pts) Write code that computes the total price of the meal in a restaurant. You know that:
    * The price of the food is $15.
    * The NY State Tax rate is 8.875%.
    * The tipping percentage is 18% of the the overall cost of the meal (including tax).
    * Use Python variables to perform the computation.

* Part 2. (2 pts) Write a function that computes the total price of the meal in a restaurant. The function takes as input the food price, the sales tax rate, and the tip percentage. The tip is computed on the overall cost of the meal (including tax).

* Part 3. (3 pts) Write a for loop that computes the total price of a meal, for different tipping rates, starting from 15% and ending at 25% (both inclusive) at 1% increments. Use the function from Part 2 as part of the loop.

* Part 4. (4 pts) Below you will find a dictionary with the tax rates for different states, expressed in percentiles. Iterate through all states and print the value of a meal, where the pre-tax food price is $20; show the prices for tip percentages of 15%, 20%, and 25%.

In [44]:
#PART 1
food = 15
tax = 8.875
tip = 18


pre_tip = food + food*(tax/100)
check = pre_tip + pre_tip*(tip/100)

print("The total cost is" , check , "dollars.")

The total cost is 19.270875 dollars.

In [33]:
#PART 2
food_cost = 15
NYtax = 8.875
tip_percentage = 18

def total_price(food , tax, tip):
    pre_tip = food + food*(tax/100)
    check = pre_tip + pre_tip*(tip/100)
    return check
total_price(food_cost , NYtax, tip_percentage)

19.270875

In [37]:
#PART 3
food_cost = 15
tip_percentage = range(15,26)
NYtax = 8.875

def total_price(food , tax, tip):
    pre_tip = food + food*(tax/100)
    check = pre_tip + pre_tip*(tip/100)
    return check


for value in tip_percentage:
    print("For a tip value of" , value)
    cost = total_price(food_cost, NYtax, value)
    print(cost)

For a tip value of 15
18.7809375
For a tip value of 16
18.94425
For a tip value of 17
19.1075625
For a tip value of 18
19.270875
For a tip value of 19
19.4341875
For a tip value of 20
19.5975
For a tip value of 21
19.7608125
For a tip value of 22
19.924125
For a tip value of 23
20.0874375
For a tip value of 24
20.25075
For a tip value of 25
20.4140625

In [6]:
tax = {
    "Alabama": 13.50, 
    "Alaska": 7,
    "Arizona": 10.73,
    "Arkansas": 11.63,
    "California": 10,
    "Colorado": 10,
    "Connecticut": 6.35,
    "Delaware": 0,
    "District of Columbia": 5.75,
    "Florida": 7.50,
    "Georgia": 8,
    "Hawaii": 4.50,
    "Idaho": 8.50,
    "Illinois": 9.75,
    "Indiana": 7,
    "Iowa": 7,
    "Kansas": 9.65,
    "Kentucky": 6,
    "Louisiana": 11,
    "Maine": 5.50,
    "Maryland": 6,
    "Massachusetts": 6.25,
    "Michigan": 6,
    "Minnesota": 7.88,
    "Mississippi": 7.25,
    "Missouri": 9.35,
    "Montana": 0,
    "Nebraska": 7.50,
    "Nevada": 8.10,
    "New Hampshire": 0,
    "New Jersey": 7,
    "New Mexico": 8.69,
    "New York": 8.88,
    "North Carolina": 7.50,
    "North Dakota": 8,
    "Ohio": 8,
    "Oklahoma": 11,
    "Oregon": 0,
    "Pennsylvania": 8,
    "Rhode Island": 7,
    "South Carolina": 9,
    "South Dakota": 6,
    "Tennessee": 9.75,
    "Texas": 8.25,
    "Utah": 8.35,
    "Vermont": 7,
    "Virginia": 6,
    "Washington": 9.60,
    "West Virginia": 7,
    "Wisconsin": 5.60,
    "Wyoming": 6,
}

In [7]:
food = 20

def total_price(food , tax, tip):
    pre_tip = food + food*(tax/100)
    check = pre_tip + pre_tip*(tip/100)
    return check    


for state in tax:
    print("For a tip value of 15 in the state of", state , "the total meal cost is:")
    cost = round(total_price(food, tax[state], 15),2)
    print(cost , "dollars")
    
    print("For a tip value of 20 in the state of", state , "the total meal cost is:")
    cost = round((total_price(food, tax[state], 20)),2)
    print(cost, "dollars")
    
    print("For a tip value of 25 in the state of", state , "the total meal cost is:")
    cost = round(total_price(food, tax[state], 25),2)
    print(cost, "dollars")

For a tip value of 15 in the state of Washington the total meal cost is:
25.21 dollars
For a tip value of 20 in the state of Washington the total meal cost is:
26.3 dollars
For a tip value of 25 in the state of Washington the total meal cost is:
27.4 dollars
For a tip value of 15 in the state of Kentucky the total meal cost is:
24.38 dollars
For a tip value of 20 in the state of Kentucky the total meal cost is:
25.44 dollars
For a tip value of 25 in the state of Kentucky the total meal cost is:
26.5 dollars
For a tip value of 15 in the state of South Dakota the total meal cost is:
24.38 dollars
For a tip value of 20 in the state of South Dakota the total meal cost is:
25.44 dollars
For a tip value of 25 in the state of South Dakota the total meal cost is:
26.5 dollars
For a tip value of 15 in the state of Louisiana the total meal cost is:
25.53 dollars
For a tip value of 20 in the state of Louisiana the total meal cost is:
26.64 dollars
For a tip value of 25 in the state of Louisiana the total meal cost is:
27.75 dollars
For a tip value of 15 in the state of Alabama the total meal cost is:
26.11 dollars
For a tip value of 20 in the state of Alabama the total meal cost is:
27.24 dollars
For a tip value of 25 in the state of Alabama the total meal cost is:
28.38 dollars
For a tip value of 15 in the state of Iowa the total meal cost is:
24.61 dollars
For a tip value of 20 in the state of Iowa the total meal cost is:
25.68 dollars
For a tip value of 25 in the state of Iowa the total meal cost is:
26.75 dollars
For a tip value of 15 in the state of Idaho the total meal cost is:
24.95 dollars
For a tip value of 20 in the state of Idaho the total meal cost is:
26.04 dollars
For a tip value of 25 in the state of Idaho the total meal cost is:
27.12 dollars
For a tip value of 15 in the state of Connecticut the total meal cost is:
24.46 dollars
For a tip value of 20 in the state of Connecticut the total meal cost is:
25.52 dollars
For a tip value of 25 in the state of Connecticut the total meal cost is:
26.59 dollars
For a tip value of 15 in the state of Wyoming the total meal cost is:
24.38 dollars
For a tip value of 20 in the state of Wyoming the total meal cost is:
25.44 dollars
For a tip value of 25 in the state of Wyoming the total meal cost is:
26.5 dollars
For a tip value of 15 in the state of Tennessee the total meal cost is:
25.24 dollars
For a tip value of 20 in the state of Tennessee the total meal cost is:
26.34 dollars
For a tip value of 25 in the state of Tennessee the total meal cost is:
27.44 dollars
For a tip value of 15 in the state of Michigan the total meal cost is:
24.38 dollars
For a tip value of 20 in the state of Michigan the total meal cost is:
25.44 dollars
For a tip value of 25 in the state of Michigan the total meal cost is:
26.5 dollars
For a tip value of 15 in the state of West Virginia the total meal cost is:
24.61 dollars
For a tip value of 20 in the state of West Virginia the total meal cost is:
25.68 dollars
For a tip value of 25 in the state of West Virginia the total meal cost is:
26.75 dollars
For a tip value of 15 in the state of Indiana the total meal cost is:
24.61 dollars
For a tip value of 20 in the state of Indiana the total meal cost is:
25.68 dollars
For a tip value of 25 in the state of Indiana the total meal cost is:
26.75 dollars
For a tip value of 15 in the state of Nebraska the total meal cost is:
24.73 dollars
For a tip value of 20 in the state of Nebraska the total meal cost is:
25.8 dollars
For a tip value of 25 in the state of Nebraska the total meal cost is:
26.88 dollars
For a tip value of 15 in the state of Kansas the total meal cost is:
25.22 dollars
For a tip value of 20 in the state of Kansas the total meal cost is:
26.32 dollars
For a tip value of 25 in the state of Kansas the total meal cost is:
27.41 dollars
For a tip value of 15 in the state of Maryland the total meal cost is:
24.38 dollars
For a tip value of 20 in the state of Maryland the total meal cost is:
25.44 dollars
For a tip value of 25 in the state of Maryland the total meal cost is:
26.5 dollars
For a tip value of 15 in the state of Florida the total meal cost is:
24.73 dollars
For a tip value of 20 in the state of Florida the total meal cost is:
25.8 dollars
For a tip value of 25 in the state of Florida the total meal cost is:
26.88 dollars
For a tip value of 15 in the state of Texas the total meal cost is:
24.9 dollars
For a tip value of 20 in the state of Texas the total meal cost is:
25.98 dollars
For a tip value of 25 in the state of Texas the total meal cost is:
27.06 dollars
For a tip value of 15 in the state of Rhode Island the total meal cost is:
24.61 dollars
For a tip value of 20 in the state of Rhode Island the total meal cost is:
25.68 dollars
For a tip value of 25 in the state of Rhode Island the total meal cost is:
26.75 dollars
For a tip value of 15 in the state of Montana the total meal cost is:
23.0 dollars
For a tip value of 20 in the state of Montana the total meal cost is:
24.0 dollars
For a tip value of 25 in the state of Montana the total meal cost is:
25.0 dollars
For a tip value of 15 in the state of District of Columbia the total meal cost is:
24.32 dollars
For a tip value of 20 in the state of District of Columbia the total meal cost is:
25.38 dollars
For a tip value of 25 in the state of District of Columbia the total meal cost is:
26.44 dollars
For a tip value of 15 in the state of South Carolina the total meal cost is:
25.07 dollars
For a tip value of 20 in the state of South Carolina the total meal cost is:
26.16 dollars
For a tip value of 25 in the state of South Carolina the total meal cost is:
27.25 dollars
For a tip value of 15 in the state of New York the total meal cost is:
25.04 dollars
For a tip value of 20 in the state of New York the total meal cost is:
26.13 dollars
For a tip value of 25 in the state of New York the total meal cost is:
27.22 dollars
For a tip value of 15 in the state of Colorado the total meal cost is:
25.3 dollars
For a tip value of 20 in the state of Colorado the total meal cost is:
26.4 dollars
For a tip value of 25 in the state of Colorado the total meal cost is:
27.5 dollars
For a tip value of 15 in the state of Wisconsin the total meal cost is:
24.29 dollars
For a tip value of 20 in the state of Wisconsin the total meal cost is:
25.34 dollars
For a tip value of 25 in the state of Wisconsin the total meal cost is:
26.4 dollars
For a tip value of 15 in the state of Massachusetts the total meal cost is:
24.44 dollars
For a tip value of 20 in the state of Massachusetts the total meal cost is:
25.5 dollars
For a tip value of 25 in the state of Massachusetts the total meal cost is:
26.56 dollars
For a tip value of 15 in the state of North Carolina the total meal cost is:
24.73 dollars
For a tip value of 20 in the state of North Carolina the total meal cost is:
25.8 dollars
For a tip value of 25 in the state of North Carolina the total meal cost is:
26.88 dollars
For a tip value of 15 in the state of Mississippi the total meal cost is:
24.67 dollars
For a tip value of 20 in the state of Mississippi the total meal cost is:
25.74 dollars
For a tip value of 25 in the state of Mississippi the total meal cost is:
26.81 dollars
For a tip value of 15 in the state of Utah the total meal cost is:
24.92 dollars
For a tip value of 20 in the state of Utah the total meal cost is:
26.0 dollars
For a tip value of 25 in the state of Utah the total meal cost is:
27.09 dollars
For a tip value of 15 in the state of Maine the total meal cost is:
24.27 dollars
For a tip value of 20 in the state of Maine the total meal cost is:
25.32 dollars
For a tip value of 25 in the state of Maine the total meal cost is:
26.38 dollars
For a tip value of 15 in the state of Pennsylvania the total meal cost is:
24.84 dollars
For a tip value of 20 in the state of Pennsylvania the total meal cost is:
25.92 dollars
For a tip value of 25 in the state of Pennsylvania the total meal cost is:
27.0 dollars
For a tip value of 15 in the state of Alaska the total meal cost is:
24.61 dollars
For a tip value of 20 in the state of Alaska the total meal cost is:
25.68 dollars
For a tip value of 25 in the state of Alaska the total meal cost is:
26.75 dollars
For a tip value of 15 in the state of Hawaii the total meal cost is:
24.03 dollars
For a tip value of 20 in the state of Hawaii the total meal cost is:
25.08 dollars
For a tip value of 25 in the state of Hawaii the total meal cost is:
26.12 dollars
For a tip value of 15 in the state of North Dakota the total meal cost is:
24.84 dollars
For a tip value of 20 in the state of North Dakota the total meal cost is:
25.92 dollars
For a tip value of 25 in the state of North Dakota the total meal cost is:
27.0 dollars
For a tip value of 15 in the state of Minnesota the total meal cost is:
24.81 dollars
For a tip value of 20 in the state of Minnesota the total meal cost is:
25.89 dollars
For a tip value of 25 in the state of Minnesota the total meal cost is:
26.97 dollars
For a tip value of 15 in the state of Illinois the total meal cost is:
25.24 dollars
For a tip value of 20 in the state of Illinois the total meal cost is:
26.34 dollars
For a tip value of 25 in the state of Illinois the total meal cost is:
27.44 dollars
For a tip value of 15 in the state of New Hampshire the total meal cost is:
23.0 dollars
For a tip value of 20 in the state of New Hampshire the total meal cost is:
24.0 dollars
For a tip value of 25 in the state of New Hampshire the total meal cost is:
25.0 dollars
For a tip value of 15 in the state of Oklahoma the total meal cost is:
25.53 dollars
For a tip value of 20 in the state of Oklahoma the total meal cost is:
26.64 dollars
For a tip value of 25 in the state of Oklahoma the total meal cost is:
27.75 dollars
For a tip value of 15 in the state of Oregon the total meal cost is:
23.0 dollars
For a tip value of 20 in the state of Oregon the total meal cost is:
24.0 dollars
For a tip value of 25 in the state of Oregon the total meal cost is:
25.0 dollars
For a tip value of 15 in the state of California the total meal cost is:
25.3 dollars
For a tip value of 20 in the state of California the total meal cost is:
26.4 dollars
For a tip value of 25 in the state of California the total meal cost is:
27.5 dollars
For a tip value of 15 in the state of Missouri the total meal cost is:
25.15 dollars
For a tip value of 20 in the state of Missouri the total meal cost is:
26.24 dollars
For a tip value of 25 in the state of Missouri the total meal cost is:
27.34 dollars
For a tip value of 15 in the state of Arizona the total meal cost is:
25.47 dollars
For a tip value of 20 in the state of Arizona the total meal cost is:
26.58 dollars
For a tip value of 25 in the state of Arizona the total meal cost is:
27.68 dollars
For a tip value of 15 in the state of New Mexico the total meal cost is:
25.0 dollars
For a tip value of 20 in the state of New Mexico the total meal cost is:
26.09 dollars
For a tip value of 25 in the state of New Mexico the total meal cost is:
27.17 dollars
For a tip value of 15 in the state of Georgia the total meal cost is:
24.84 dollars
For a tip value of 20 in the state of Georgia the total meal cost is:
25.92 dollars
For a tip value of 25 in the state of Georgia the total meal cost is:
27.0 dollars
For a tip value of 15 in the state of Nevada the total meal cost is:
24.86 dollars
For a tip value of 20 in the state of Nevada the total meal cost is:
25.94 dollars
For a tip value of 25 in the state of Nevada the total meal cost is:
27.03 dollars
For a tip value of 15 in the state of New Jersey the total meal cost is:
24.61 dollars
For a tip value of 20 in the state of New Jersey the total meal cost is:
25.68 dollars
For a tip value of 25 in the state of New Jersey the total meal cost is:
26.75 dollars
For a tip value of 15 in the state of Ohio the total meal cost is:
24.84 dollars
For a tip value of 20 in the state of Ohio the total meal cost is:
25.92 dollars
For a tip value of 25 in the state of Ohio the total meal cost is:
27.0 dollars
For a tip value of 15 in the state of Arkansas the total meal cost is:
25.67 dollars
For a tip value of 20 in the state of Arkansas the total meal cost is:
26.79 dollars
For a tip value of 25 in the state of Arkansas the total meal cost is:
27.91 dollars
For a tip value of 15 in the state of Delaware the total meal cost is:
23.0 dollars
For a tip value of 20 in the state of Delaware the total meal cost is:
24.0 dollars
For a tip value of 25 in the state of Delaware the total meal cost is:
25.0 dollars
For a tip value of 15 in the state of Virginia the total meal cost is:
24.38 dollars
For a tip value of 20 in the state of Virginia the total meal cost is:
25.44 dollars
For a tip value of 25 in the state of Virginia the total meal cost is:
26.5 dollars
For a tip value of 15 in the state of Vermont the total meal cost is:
24.61 dollars
For a tip value of 20 in the state of Vermont the total meal cost is:
25.68 dollars
For a tip value of 25 in the state of Vermont the total meal cost is:
26.75 dollars

In [9]:
#modified to take state name as an input

food = 20
state_name = "Texas"
tax_amount = tax[state_name]
tip = .15

def total_price(food , state_name, tip):
    pre_tip = food + food*(tax_amount/100)
    check = pre_tip + pre_tip*(tip/100)
    return check

total_price(food , state_name , tip)

21.682475

#### (5 pts) C. Search within a file 

Read the file `restaurant-names.txt` which is stored under: `/home/ubuntu/jupyter/NYU_Notes/2-Introduction_to_Python/data/restaurant-names.txt` and answer the following questions:
* How many restaurants appear in the dataset?
* Print the restaurants that contain the word GREEK in their name.
* How many restaurants contain the word PIZZA in their name?

In [84]:
filename = "/home/ubuntu/jupyter/NYU_Notes/2-Introduction_to_Python/data/restaurant-names.txt"
f = open(filename , 'r') 
content = f.read() 
f.close()


restaurant_list = content.split("\n")
print("There are" , len(restaurant_list), "restuarants in the dataset.")



greek_restaurants = []

for food in restaurant_list:
    if "GREEK" in food:
        greek_restaurants.append(food)
print("These are the greek restaurants in the data set:" , greek_restaurants)




x = 0
for pizza in restaurant_list:
    if "PIZZA" in pizza:
        x = x+1

print("There are" , x , "restaurants that contain the word PIZZA in their name.")

#count only searches for exact matches. 
#read the problem. You need to print the ones that contain greek, and count the ones that have pizza.

There are 20444 restuarants in the dataset.
These are the greek restaurants in the data set: ["ANTHI'S GREEK FOOD", 'AVLEE  GREEK KITCHEN', 'AVLEE GREEK KITCHEN', 'AVLI THE LITTLE GREEK TAVERN', 'ETHOS GREEK CUISINE', 'GREEK EXPRESS', 'GREEK FAMILY KITCHEN', 'GREEK GARDENS GRILL', 'GREEK GRILL', 'GREEK ISLANDS', 'GRK FRESH GREEK', 'GYRO GREEK STYLE', 'MEDITERRANEAN GRILL GREEK TARVERNA', 'OKEANOS GREEK SEAFOOD', 'OPA! GREEK RESTAURANT', 'RAFINA GREEK CUISINE', 'SOMETHING GREEK', 'SYMPOSIUM GREEK RESTAURANT', 'THE GREEK', 'THE GREEK CORNER', 'THE GREEK KITCHEN  CLINTON BAKERY CAFE', 'VILLAGE TAVERNA GREEK GRILL', 'ZENON TAVERNA GREEK RESTAURANT']
There are 963 restaurants that contain the word PIZZA in their name.

#### (5pts) D. Function that returns a dictionary 

Write a function that has a parameter that is the height of someone in centimeters. You need to convert it into feet and inches. (Each foot is 30.48 cm. Each inch is 2.54cm.). The function should return the height in feet and inches. The result should be a dictionary with two keys, `feet` and `inches`, and the values for both keys should be integers.

In [86]:
def height_converter(cm):
    cm_per_ft = 30.48
    cm_per_in = 2.54
    feet = int(cm/cm_per_ft)
    inches = int((cm-feet*cm_per_ft)/cm_per_in)
    return {"feet": feet, "inches": inches}

height_converter(175)

{'feet': 5, 'inches': 8}

#### (5 pts) E. Road Pricing System 

The Transport Authority is implementing a new Road Pricing system. The authorities decided that the cars will be charged based on distance travelled, on a per mile basis. A car will be charged $0.50/mi, a van $2.1/mi and taxis travel for free. Create a function to determine how much a particular vehicle would be charged based on a particular distance. The function should take as input the type of the car and the distance travelled, and return the charged price.

In [109]:
def road_pricer (car_type , distance):
    if car_type=='taxi':
        return 0.0
    elif car_type=='car':
        return 0.5*distance
    elif car_type=='van':
        return 2.1*distance

road_pricer("van", 3) #checking

6.300000000000001

#### (15 pts) F. Most Common Item


Part 1. (5pts) Write a function that takes as input a list and returns the most common item in the list. 

Note: This is a challenging exercise. Below, I give some hints. As there are multiple possible solutions, not all hints are applicable to all solutions. Do not freak out if you came up with a solution that is not using some of the hints.

* _Hint 1: Make use of set to identify all the unique values in the list_
* _Hint 2: Use the `list.count(...)` function to find the frequency of each item_
* _Hint 3: The `max()` function can return the maximum value in a list_
* _Hint 4: You will need to use a for loop, or a list comprehension_

In [91]:
example = ["Kanisha", "Candance", "Lila", "Lupe", "Alexander", "Candance", 
           "Irvin", "Kanisha", "Lila", "May", "Lila", "Alexander", "Ivana", "Alexander"]

example.count("Candance")

2

In [111]:
numbers = [5,42,34,6,7,4,2,5]
maximum = 0
for number in numbers:
    if number > maximum:
        maximum = number
print("The maximum is", maximum)

The maximum is 42

In [148]:
#Question does not specify what to do if multiple items are equivalently most common. 
#This function picks one, and returns both the element and its frequency count. 

# def Most_Common_Item(anygivenlist):
#     maximum = 0 
#     winner = None 
#     for value in set(anygivenlist): 
#         if maximum<anygivenlist.count(value): 
#             maximum = anygivenlist.count(value) 
#             winner = value
#     return winner , maximum

#More performant version
def Most_Common_Item_Alternate(anygivenlist):
    counter = {}
    for value in anygivenlist:
        if value in counter:
            counter[value] = counter[value] + 1
        else:
            counter[value] = 1
    
    max_val = 0
    winner = None
    for key in counter:
        if max_val < counter[key]:
            max_val = counter[key]
            winner = key
    return winner, max_val

print(Most_Common_Item_Alternate(example))

('Alexander', 3)
('Lila', 3)

Part 2.  (5pts) Use the function that you created here to find the most frequent restaurant names in the dataset, which is stored at `/home/ubuntu/jupyter/NYU_Notes/2-Introduction_to_Python/data/restaurants.txt`.

In [2]:
# def Most_Common_Item(anygivenlist):
#     maximum = 0 
#     winner = None 
#     for value in set(anygivenlist): 
#         if maximum<anygivenlist.count(value): 
#             maximum = anygivenlist.count(value) 
#             winner = value
#     return winner, maximum

def Most_Common_Item_Alternate(anygivenlist):
    counter = {}
    for value in anygivenlist:
        if value in counter:
            counter[value] = counter[value] + 1
        else:
            counter[value] = 1
    
    max_val = 0
    winner = None
    for key in counter:
        if max_val < counter[key]:
            max_val = counter[key]
            winner = key
    return winner, max_val


filename = "/home/ubuntu/jupyter/NYU_Notes/2-Introduction_to_Python/data/restaurants.txt"
f = open(filename , 'r') 
content = f.read() 
f.close()
restaurant_list = content.split("\n")
%time Most_Common_Item(restaurant_list)
%time Most_Common_Item_Alternate(restaurant_list)

CPU times: user 2min 17s, sys: 8 ms, total: 2min 17s
Wall time: 2min 20s
CPU times: user 100 ms, sys: 0 ns, total: 100 ms
Wall time: 103 ms

("DUNKIN' DONUTS", 4473)

_Part 3_.  (5pts) Find the most frequent words that appear in the restaurant names. Create two answers: one for the dataset at `/home/ubuntu/jupyter/NYU_Notes/2-Introduction_to_Python/data/restaurant-names.txt` which contains only distinct restaurant names, and for the dataset at `/home/ubuntu/jupyter/NYU_Notes/2-Introduction_to_Python/data/restaurants.txt` which contains the names of all the restaurants in NYC, without eliminating duplicate names.

In [2]:
# def Most_Common_Item(anygivenlist):
#     maximum = 0 
#     winner = None 
#     for value in set(anygivenlist): 
#         if maximum<anygivenlist.count(value): 
#             maximum = anygivenlist.count(value) 
#             winner = value
#     return winner, maximum

def Most_Common_Item_Alternate(anygivenlist):
    counter = {}
    for value in anygivenlist:
        if value in counter:
            counter[value] = counter[value] + 1
        else:
            counter[value] = 1
    
    max_val = 0
    winner = None
    for key in counter:
        if max_val < counter[key]:
            max_val = counter[key]
            winner = key
    return winner, max_val

filename1 = "/home/ubuntu/jupyter/NYU_Notes/2-Introduction_to_Python/data/restaurant-names.txt"
f1 = open(filename1 , 'r') 
content = f1.read() 
f1.close()

clean_content = content.replace("\n", " ").replace(".", "").replace(",", "")
restaurant_list_unique = clean_content.split(" ")
print("Most common name and count from unique restaurant list: ", Most_Common_Item_Alternate(restaurant_list_unique))

filename2 = "/home/ubuntu/jupyter/NYU_Notes/2-Introduction_to_Python/data/restaurants.txt"
f2 = open(filename2 , 'r') 
content = f2.read() 
f2.close()

clean_content = content.replace("\n", " ").replace(".", "").replace(",", "")
restaurant_list = clean_content.split(" ")
print("Most common name and count from all restaurant list: ", Most_Common_Item_Alternate(restaurant_list))

#NOTE: Cleaned up the data a little to look at only words. 
# If I don't do this, things like "PIZZA." and "PIZZA" become different words.

Most common name and count from unique restaurant list:  ('RESTAURANT', 3126)
Most common name and count from all restaurant list:  ('RESTAURANT', 65737)